/* @font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratsemibold';
  src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} */

h1 {
  display: block;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  /* padding: 0 0; */
}

.h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 3px solid rgba(0,0,255,.3);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1770px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28.04px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: white;
  background-color: #FF9900;
  border-radius: 16px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.btn-small {
  display: inline-block;
  padding: 17px 35px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 3px solid #FF9900;
  border-radius: 16px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #FFB84D;
}

.btn:focus {
  background-color: #FFB84D;
}

.btn:active {
  background-color: #E1670E;
}

/* Header */

.header {
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  font-family: 'Montserrat',sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  height: 100%;
}

.header-container__logo {
  margin-left: -1px;
  margin-top: 5px;
  margin-right: auto;
  align-items: center;
}

.header-container__nav-list {
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .0055em;
  align-self: flex-end;
}

.header-nav-list__item:not(:last-child) {
  margin-right: 85px;
}

.header-container__search {
  display: flex;
  align-items: center;
}

.header-container__search-icon {
  background-image: url(../img/search.png);
  margin-left: 260px;
  width: 24px;
  height: 24px;
}

/* Hero */

.section-hero {
  margin-top: 50px;
}

.section-hero__container {
  background-image: url(../img/hero-background.png);
  border-radius: 30px;
  height: 620px;
  }

.section-hero__content {
  padding-top: 100px;
  padding-left: 80px;
  width: 917px;
  font-family: 'Montserrat';
  font-style: normal;
  /* line-height: 85px; */
  color: #FFFFFF;
}

.section-hero__heading {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.section-hero__description {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.section-hero__action {
  margin-top: 89px;
  line-height: 0;
  padding: 0 0;
}

.section-hero__slider {
  height: 15px;
  width: 85px;
  margin-top: 55px;
  margin-left: 763px;
}

.section-hero__slider-selector {
  display: flex;
  align-items: center;
}

.section-hero__slider-label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cacaca;
}

.section-hero__slider-label:not(:last-child) {
  margin-right: 20px;
}

/* Section-about */

.section-about {
  margin-top: 50px;
}

.section-about-description__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-about-description__text {
  margin-top: 20px;
  width: 1235px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-about-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  
}

.section-about-cards__more {
  display: flex;
  width: 868px;
  height: 622px;
  background: url(../img/cards-more-background.jpg);
  border-radius: 32px;
}

.section-about-cards__more-bottom {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  height: 196px;
  width: 100%;
  
  }

  .section-about-cards__more-text {
    margin-left: 50px;
    width: 433px;
    height: 96px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;

  }

 .section-about-cards__tips-list {
  margin-left: 32px;
 }

 .section-about-cards__tip {
  width: 870px;
  height: 295px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 32px;
  display: flex;
  align-items: center;
  
 }

 .section-about-cards__tip-top {
  margin-bottom: 32px;
 }

 .section-about-cards__more-btn {
  margin-right: 50px;
 }

.section-about-cards__tip {
    align-items: center;
}

.section-about-cards__tip-icon {
  margin-left: 60px;
  width: 190px;
  height: 165px;
}

.section-about-cards__tip-text {
  width: 452px;
  margin-left: 50px;
}

.section-about-cards__tip-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.section-about-cards__tip-description {
  margin-top: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  }

 .section-about-cards__tip-top-icon {
  background-image: url(../img/tip1-icon.png);
 }

 .section-about-cards__tip-down-icon {
  background-image: url(../img/tip2-icon.png);
 }

 /* Section How */

 .section-how__container {
  margin-top: 100px;
  min-height: 646px;
 }

 .section-how__heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
 }

 .section-how-steplist {
  margin-top: 50px;
  display: flex;
  
 }

 .section-how-steplist__item {
  margin-right: 85px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
 }

.section-how__list {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

 .section-how-list__item-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #000000;
 }

 .section-how-list__item-description {
  margin-top: 8px;
  max-width: 758px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #000000;
 }

 .section-how-list__button-more {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  padding: 19px 38px;
  gap: 10px;
  background: #FF9900;
  border-radius: 16px;
  border: 0px ;
  line-height: 24px;

 }

 .section-how-list__button-oferta {
  margin-left: 32px;
  padding: 19px 38px;
  gap: 10px;
  border: 1px solid #000000;
  border-radius: 16px;
  color: #000000;
  font-weight: 400;
 }

 .section-how-list__img {
  width: 870px;
  height: 460px;
  display: block;
  align-self: flex-end;
  background-image: url(../img/section-how-to-step-1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
 }

 /* Section FAQ */

.section-faq {
  margin-top: 100px;
}

.section-faq__heading {
  padding-top: 11px;
}

.section-faq__list {
  margin-top: 32px;
}

.section-faq__list-item-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.section-faq__list-item {
  padding: 30px 0px;
  border-top: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-faq__list:last-child {
  border-bottom: 1px solid #CACACA;
}

.section-faq__list-item-icon {
  background-image: url(../img/section-faq-х.png);
  width: 50px;
  height: 50px;
  align-self: flex-end;
}

/* Section-footer */

.footer {
  margin-top: 100px;
  height: 594px;
  background-color: #000000;
  
}

.footer__container {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content:space-between;
  }

.footer__description {
  width: 363px;
  height: 320px;
  margin: 137px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer__description-text {
  margin-top: 0;
}

.footer__menu {
  height: 494px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer__logo {
  background-image: url(../img/footer-logo.svg);
  width: 224px;
  height: 72px;
}

.footer__menu-list {
  margin-top: 20px;
  
}

.footer__menu-list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer__menu-list-link {
  color: #CACACA;
}

.footer__menu-social-list {
  margin-top: 90px;
  width: 145px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu-list-icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

.footer__menu-social-link {
  line-height: 0;
}

.footer__menu-social-link-ok {
  background-image: url(../img/footer-social-media-ok.svg);
  width: 60px;
  height: 60px;
}

.footer__menu-social-link-vk {
  background-image: url(../img/footer-social-media-vk.svg);
  width: 60px;
  height: 60px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 570px;
  height: 494px;
  margin-left: 113px;
}

.footer__form-heading {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer__input {
  width: 100%;
  height: 60px;
  background: #414141;
  border-radius: 16px;
  /* transform: matrix(0, -1, -1, 0, 0, 0);   */
  /* align-self: center; */
  border: 0;
  color: #CACACA;
  padding-left: 24px;
  font-size: 16px;
  line-height: 32px;
}

.footer__form-input-fio {
  margin-bottom: 25px;
}

.footer__form-input-email {
  margin-bottom: 25px;
}

.footer__form-input-message {
  height: 150px;
  padding-top: 14px;
  margin-bottom: 32px;
}

.footer__form-button {
  padding-left: 52px;
  padding-right: 52px;
  background: #FF9900;
  border: 0;
}

.footer__form-send {
  display: block;
}

.footer__form-checkbox {
  margin-left: 22px;
  background-color: transparent;
  border: 1px solid #CACACA;
  border-radius: 2px;
}

.footer__form-checkbox-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer__form-checkbox-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__form-checkbox-custom+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.footer__form-checkbox-custom+label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin-left: 22px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.footer__form-checkbox-custom:checked+label::before {
    background-image: url(../img/checkbox-checked.svg);
    z-index: 1;
}